*{

box-sizing:border-box;

}


body{

margin:0;

font-family:
Arial,
sans-serif;

background:#f7faf8;

color:#102018;

}




.navbar{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 7%;

background:white;

position:sticky;

top:0;

z-index:10;

box-shadow:0 5px 20px rgba(0,0,0,.05);

}




.logo{

font-size:24px;

font-weight:bold;

color:#065f46;

}



nav{

display:flex;

gap:30px;

}



nav a{

text-decoration:none;

color:#333;

}



.cart{

background:#10b981;

color:white;

padding:12px 18px;

border-radius:50px;

text-decoration:none;

}







.hero{

min-height:650px;

display:flex;

align-items:center;

justify-content:space-around;

padding:60px 8%;

}



.heroText{

max-width:550px;

animation:show 1s;

}



.heroText h1{

font-size:60px;

color:#064e3b;

line-height:1.1;

}



.heroText p{

font-size:22px;

color:#64748b;

}



.mainBtn{

display:inline-block;

margin-top:30px;

background:#10b981;

color:white;

padding:16px 35px;

border-radius:50px;

text-decoration:none;

}





.heroImage{

animation:float 4s infinite;

}



.nfc3d{

height:280px;

width:280px;

background:#064e3b;

border-radius:40px;

display:flex;

align-items:center;

justify-content:center;

font-size:100px;

box-shadow:

0 40px 80px rgba(6,78,59,.3);

}





.products{

padding:50px 8%;

text-align:center;

}



.products h2{

font-size:40px;

color:#064e3b;

}




.productCard{

background:white;

max-width:350px;

margin:auto;

padding:30px;

border-radius:30px;

box-shadow:

0 20px 40px rgba(0,0,0,.08);

transition:.3s;

}



.productCard:hover{

transform:translateY(-10px);

}




.productImage{

height:180px;

font-size:90px;

display:flex;

align-items:center;

justify-content:center;

}



.price{

font-size:28px;

font-weight:bold;

color:#10b981;

}




.addBtn{

height:65px;

width:65px;

border-radius:50%;

border:none;

background:#10b981;

color:white;

font-size:35px;

cursor:pointer;

transition:.3s;

}



.addBtn:hover{

transform:scale(1.15);

}





.info{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

padding:50px 8%;

}



.info div{

background:white;

padding:25px;

border-radius:20px;

text-align:center;

}





footer{

padding:30px;

text-align:center;

}




@keyframes float{

50%{

transform:translateY(-20px);

}

}




@keyframes show{

from{

opacity:0;

transform:translateX(-50px);

}


to{

opacity:1;

}

}







@media(max-width:800px){


.hero{

flex-direction:column;

text-align:center;

}



.heroText h1{

font-size:40px;

}



.info{

grid-template-columns:1fr;

}



nav{

display:none;

}


}

.customizer{

max-width:1200px;

margin:auto;

padding:60px 5%;

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

}



.previewBox{

text-align:center;

}



#customProduct,
.checkoutProduct{

width:220px;

height:220px;

margin:30px auto;

background:#111;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:90px;

transition:.5s;

box-shadow:

0 30px 70px rgba(0,0,0,.2);

}




.options{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;

}



.options button{

background:#ecfdf5;

color:#064e3b;

padding:20px;

border-radius:20px;

border:none;

cursor:pointer;

transition:.3s;

}



.options button:hover{

background:#10b981;

color:white;

transform:translateY(-5px);

}




.colorOptions{

display:flex;

gap:20px;

}



.circle{

height:55px;

width:55px;

border-radius:50%;

cursor:pointer;

border:3px solid white;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}



.nero{

background:#111;

}


.verde{

background:#10b981;

}


.bianco{

background:#eee;

}


.oro{

background:#d4af37;

}




.quantity{

display:flex;

align-items:center;

gap:25px;

}



.quantity button{

width:50px;

height:50px;

padding:0;

}



.quantity span{

font-size:30px;

}





.summary{

background:white;

padding:30px;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,.08);

}







.checkout{

max-width:1100px;

margin:auto;

padding:50px 5%;

}



.checkout h1{

text-align:center;

color:#064e3b;

font-size:45px;

}



.checkout-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

}



.paymentBox{

background:#ecfdf5;

padding:20px;

border-radius:20px;

margin-top:20px;

color:#065f46;

}





.successPage{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

text-align:center;

overflow:hidden;

background:#f7faf8;

position:relative;

}



.successCircle{

height:180px;

width:180px;

border-radius:50%;

background:#10b981;

display:flex;

align-items:center;

justify-content:center;

animation:successPulse 1.5s ease;

}



.check{

font-size:90px;

color:white;

animation:checkShow .8s ease 1s forwards;

opacity:0;

}




.successPage h1{

font-size:45px;

color:#064e3b;

animation:fadeUp 1s;

}




.successPage p{

font-size:20px;

color:#64748b;

}



@keyframes successPulse{


0%{

transform:scale(0);

}


100%{

transform:scale(1);

}


}




@keyframes checkShow{

to{

opacity:1;

}

}



@keyframes fadeUp{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

}

}





.particles span{

position:absolute;

height:15px;

width:15px;

background:#10b981;

border-radius:50%;

animation:particle 5s infinite;

}



.particles span:nth-child(1){

left:20%;

top:20%;

}


.particles span:nth-child(2){

right:20%;

top:30%;

}



.particles span:nth-child(3){

left:30%;

bottom:20%;

}


.particles span:nth-child(4){

right:30%;

bottom:25%;

}


.particles span:nth-child(5){

left:50%;

top:10%;

}



@keyframes particle{

50%{

transform:translateY(-40px);

opacity:.3;

}

}








@media(max-width:900px){


.customizer{

grid-template-columns:1fr;

}



.checkout-grid{

grid-template-columns:1fr;

}



.options{

grid-template-columns:repeat(2,1fr);

}



}
